<ion-view cache-view="false" view-title="How can we help?">
    <ion-content>
		<div class="how-we-help-fabs-container">
			<div class="content">
				<div class="row">
					<div class="col col-center text-center col-top">
				    	<button class="button button-fab how-we-help-fabs" ng-click="goTo('app.browse')">
				    		<img src="img/apply-for-task.png">
				    	</button>
				    	<div class="txt padding-top">Apply For a Task</div>
				    </div>	
			    </div>	
		    	<hr size="1">
			    <div class="row">
				    <div class="col col-center text-center col-bottom">
				    	<button class="button button-fab how-we-help-fabs">
				    		<img src="img/post-task.png">
				    	</button>
				    	<div class="txt padding-top">Post a Task</div>
				    </div>	
			    </div>			
		    </div>			
    	</div>
		
    </ion-content>		
</ion-view>