<ion-view cache-view="false" view-title="HOW CAN WE HELP?">

	<div class="bar bar-header header-bg"> 
		<div class="buttons buttons-left header-item"> 
			<span class="left-buttons"> 
				<button class="button button-icon button-clear" ng-click="$ionicGoBack()">
					<i class="ion-android-arrow-back"></i>
				</button> 
			</span> 
		</div> 
		<div class="h1 title title-center light">Menu</div> 
		<div class="buttons buttons-right header-item"> 
			<span class="right-buttons"> 
				<button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right"> </button> 
			</span> 
		</div>
	</div>

    <ion-content>
		
    </ion-content>
	
	<!--<div class="tabs tabs-positive">
		<a class="tab-item active">
			<i class="icon ion-home"></i>
		</a>
		<a class="tab-item active">
			<i class="icon ion-home"></i>
		</a>
		<a class="tab-item active">
			<i class="icon ion-home"></i>
		</a>
	</div>-->
</ion-view>