<ion-modal-view class="modal-view">
	<div class="bar bar-header header-bg"> 		
		<div class="h1 title title-center light">Privacy Policy</div> 
		<div class="buttons buttons-right header-item"> 
			<span class="right-buttons"> 
				<button class="button button-icon button-clear" ng-click="privacy_policy_model.hide()">
					<i class="icon ion-close"></i>
				</button> 
			</span> 
		</div> 
	</div>
	<ion-content class="padding">
	<div class="row">
		<div class="col">
			<div class="modal-top-padding">
				<h4 class="title">Welcome to Yelprr!</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac sapien ipsum. Proin elit urna, efficitur fermentum lobortis sit amet, tempus at sapien. Phasellus vehicula facilisis laoreet. Cras vel elit blandit, sodales justo vitae, vehicula nulla. Nam eu imperdiet diam, id maximus orci. Aenean vestibulum urna at augue dapibus, quis mollis quam ornare. Etiam tristique suscipit vehicula. Mauris vel dui sit amet arcu ultricies porta nec at justo. Morbi dui eros, blandit vulputate pretium at, congue sed nisl.
				</p>
				<p>
				Nulla sed vehicula turpis. Nullam volutpat id sem ac faucibus. Mauris at consequat ante, eget consectetur justo. Donec mattis gravida urna. Sed eros metus, ultricies in nisi malesuada, convallis facilisis nulla. Proin eu leo fringilla, luctus tortor a, venenatis odio. Nulla suscipit finibus sem vel tincidunt. In lobortis sodales ante. Phasellus iaculis sodales dui. Duis ac congue risus, nec sagittis odio. Nunc laoreet velit a metus porttitor, sed convallis tortor varius. Curabitur vehicula eros arcu, vitae venenatis mauris tristique nec. Nullam ullamcorper, ipsum quis elementum mattis, risus ante pretium magna, et volutpat diam sem eget quam. Nunc augue leo, hendrerit et lorem ut, sodales ultricies est
				</p>
			</div>
		</div>
	</div>
	</ion-content>
</ion-modal-view>
