<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/site_bg.png) center; background-size: cover; padding-top: 20px;" scroll="false">
        <div class="welcome-top">
            <div class="row">
                <div class="col col-80 col-offset-10 col-center text-center">
                    <div class="padding" style="height:100%;">
                        <div class="logo">
                            <img  src="img/logo.png" style="max-width:100%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-80 col-offset-10 col-center light text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id nulla diam.
                </div>
            </div>
        </div>
        <div class="welcome-bottom">
            <div class="row padding">
				<div class="col text-center">
					<button ui-sref="/register" class="button button-full button-balanced ink">SIGN UP</button>
					<button ui-sref="/login" class="button button-full button-positive ink">LOGIN</button>				
                    <div class="padding-top">
					   <a href="#/app/howcanwehelp" class="light ite-link">Skip</a>
                    </div>
				</div>

            </div>
        </div>
    </ion-content>
</ion-view>