<!-- ===Carousel==== -->
<div class="container-fluid noPadd">
    <div class="full-width-container">
        <!-- Content Carousel -->

        <div id="headr-crousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="images/banner-03.jpg" alt="image">
                    <div class="carousel-caption banner-cap">
                        <span>Millions of small businesses</span>
                        <h2>use MICROJOB </h2>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blmea<br>
                            nditiis praesentium voluptatum deleniti atque corrupti quos dolores<br>
                            et quas molestias excepturi sint occaecati.
                        </p>
                        <a role="button" class="btn btn-default hdr-btn grn-btn" href="javascripit:void(0)">Get Started now</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Carousel Ends -->
    </div>
</div>
<!-- ===Carousel Ends=== -->
<!-- Content Section starts -->

<div class="container-fluid cmn-container noPadd">
    <div class="container">
        <div class="row cmn-content text-center">
            <h2 class="cmn-heading">What do you <strong>Need?</strong></h2>
            <p class="cmn-caption text-center">At vero eos et accusamus Sed ut perst piciatis unde omnis i et iusto odio dignissimos</p>
            <div class=" col-sm-12 col-md-12 col-lg-12 cmn-sec">
                <div class="row">
                    <ul class="one-fifth-sec">
                        <li class="xb-sec wow fadeInLeft">
                            <img src="images/need-img-01.png" alt="image" />
                            <h4>Handyman Services</h4>
                            <span>At vero eos et accusamus Sed ut perst piciatis unde omnis i et iusto odio dignissi.</span>
                        </li>
                        <li class="xb-sec wow fadeInDown">
                            <img src="images/need-img-02.png" alt="image" />
                            <h4>House Cleaning</h4>
                            <span>At vero eos et accusamus Sed ut perst piciatis unde omnis i et iusto odio dignis.</span>
                        </li>
                        <li class="xb-sec wow fadeInUp">
                            <img src="images/need-img-03.png" alt="image" />
                            <h4>Pickup & Delivery</h4>
                            <span>At vero eos et accusamus Sed ut perst piciatis unde omnis i et iusto odio.</span>
                        </li>
                        <li class="xb-sec wow fadeInDown">
                            <img src="images/need-img-04.png" alt="image" />
                            <h4>Furniture Assembly</h4>
                            <span>At vero eos et accusamus Sed ut perst piciatis unde omnis et iusto odio dignissimos.</span>
                        </li>
                        <li class="xb-sec wow fadeInRight">
                            <img src="images/need-img-05.png" alt="image" />
                            <h4>Garden Maintenance</h4>
                            <span>At vero eos et accusamus Sed ut perst piciatis unde omnis et iusto odio dignissimos.</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-grp text-center" style="margin-top: 0px;">
                <div class="row"> <a role="button" class="btn btn-default cmn-btn noMarg blnk-btn" href="javascript:void(0)">See all Categories</a> </div>
            </div>
        </div>
    </div>
</div>

<!--  Content Section Ends -->
<!-- Content Section starts -->

<div class="container-fluid drk-bg cmn-container noPadd">
    <div class="container">
        <div class="row cmn-content text-center">
            <h2 class="cmn-heading">How it <strong>Works</strong></h2>
            <p class="cmn-caption text-center">At vero eos et accusamus Sed ut perst piciatis unde omnis i et iusto odio dignissimos</p>
            <div class=" col-sm-12 col-md-12 col-lg-12">
                <div class="row">

                    <!-- one-third -->
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 wow fadeInLeft">
                        <div class="row text-center work-sec cmn-sec">
                            <span class="img-wrap"><img src="images/work-img.png" alt="image" /></span>
                            <h1>Tell us what you need</h1>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus <br>
                                voluptatem accusantium doloremque <br>
                                laudantitotam rem aperiam.
                            </p>
                        </div>
                    </div>
                    <!-- one-third Ends -->
                    <!-- one-third -->
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 wow fadeInUp">
                        <div class="row text-center work-sec cmn-sec">
                            <span class="img-wrap"><img src="images/work-img-02.png" alt="image" /></span>
                            <h1>Offers from trusted workers</h1>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus <br>
                                voluptatem accusantium doloremque <br>
                                laudantitotam rem aperiam.
                            </p>
                        </div>
                    </div>
                    <!-- one-third Ends -->
                    <!-- one-third -->
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 wow fadeInRight">
                        <div class="row text-center work-sec cmn-sec">
                            <span class="img-wrap"><img src="images/work-img-03.png" alt="image" /></span>
                            <h1>Choose the best person </h1>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus <br>
                                voluptatem accusantium doloremque <br>
                                laudantitotam rem aperiam.
                            </p>
                        </div>
                    </div>
                    <!-- one-third Ends -->

                </div>
            </div>
        </div>
    </div>
</div>

<!--  Content Section Ends -->
<!-- Content Section starts -->


<div class="container-fluid cmn-container noPadd">
    <div class="container">
        <div class="row cmn-content text-center">

            <!-- one-fourth -->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 cmn-resp">
                <div class="row text-center smpl-txt-sec cmn-sec">
                    <h1>30,000</h1>
                    <p>Registered Users</p>
                </div>
            </div>
            <!-- one-fourth Ends -->
            <!-- one-fourth -->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 cmn-resp">
                <div class="row text-center smpl-txt-sec cmn-sec">
                    <h1><span style="font-size: 25px; font-weight: 400;">CHF</span> 28M</h1>
                    <p>Worth of jobs created</p>
                </div>
            </div>
            <!-- one-fourth Ends -->
            <!-- one-fourth -->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 cmn-resp">
                <div class="row text-center smpl-txt-sec cmn-sec">
                    <h1>10,150</h1>
                    <p>Projects</p>
                </div>
            </div>
            <!-- one-fourth Ends -->
            <!-- one-fourth -->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 cmn-resp">
                <div class="row text-center smpl-txt-sec cmn-sec">
                    <h1>5,000</h1>
                    <p>Clients who rehire </p>
                </div>
            </div>
            <!-- one-fourth Ends -->

        </div>
    </div>
</div>

<!--  Content Section Ends -->

<!-- Content Section starts -->

<div class="container-fluid lght-bg cmn-container noPadd">
    <div class="container">
        <div class="row cmn-content text-center">
            <ul class="one-sixth-sec logo-sec">
                <li class="cmn-sec"> <img src="images/logo-img-01.png" alt="image" /></li>
                <li class="cmn-sec"> <img src="images/logo-img-02.png" alt="image" /></li>
                <li class="cmn-sec"> <img src="images/logo-img-03.png" alt="image" /></li>
                <li class="cmn-sec"> <img src="images/logo-img-04.png" alt="image" /></li>
                <li class="cmn-sec"> <img src="images/logo-img-05.png" alt="image" /></li>
                <li class="cmn-sec"> <img src="images/logo-img-06.png" alt="image" /></li>
            </ul>
        </div>
    </div>
</div>

<!--  Content Section Ends -->