    <!-- Header -->
<header class="container-fluid" ng-controller="NavController">
    <div class="row">
        <nav class="navbar my-navbar">
            <div class="container noPadd">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><img src="images/icon-toggle-btn.png" alt="click" /></button>
                    <a class="navbar-brand" href="index.html#/"><img src="images/logo.png" alt="Logo" /></a>
                </div>
                <div class="collapse my-Nav navbar-collapse">
                    <div class="nav-wrap pull-left text-left">
                        <ul class="nav navbar-nav">
                            <li><a role="button" class="btn btn-success gradient" data-text="Browse task" href="#/browse">Browse task</a></li>
                            <li><a role="button" class="btn btn-danger gradient" data-text="Post a task" href="Javascript:void(0)">Post a task</a></li>
                        </ul>
                    </div>
                    <div class="nav-wrap pull-right text-right">
                        <ul class="nav navbar-nav">
                            <li><a role="button" class="btn btn-default blnk-btn button-hover" data-text="Sign in" href="Javascript:void(0)">Sign in</a></li>
                            <li><a role="button" class="btn btn-primary gradient" data-text="Sign up" href="Javascript:void(0)">Sign up</a></li>
                        </ul>
                    </div>
                </div>

                <!--/.nav-collapse -->
            </div>
        </nav>
    </div>
</header>
<!-- Header Ends -->

